:root {
    var(--principal:#f5f5f5);
}
*{
    margin: 0; padding: 0; 
}
h1,h2,h3,h4,h5,h6{margin: 1em 0}
html{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body{ 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home-body{
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.grid-container{
    max-width: 980px;
    margin: auto;

}
a{
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-row: 1fr 1fr;
}
header .header-icon-container{
    background: linear-gradient(to right, #4285f4, #281069);
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}
header section .header-icon-box{
    padding:10px;
    height: 40px;
    width: 40px;
}
header .header-icon-box span{
    color: white;
    width: 50px;
    height: 50px;
}
header nav{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header nav .nav-logo-container a{
    height: 51.75px;
}
header nav .nav-logo-container img{
    width: 320px;
}
header nav div{
    margin: 0 20px;
}
header nav .nav-logo-container{
    display: flex;
    align-items: center;
}
header nav .nav-sobremi{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
header nav .nav-sobremi a:hover{
    text-decoration: underline rgb(255, 255, 255);
}
.home-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    margin-top: -80px;
    background-image: url(https://i.gzn.jp/img/2020/05/26/the-anthropocene-reviewed/0020.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
}
.home-main h1{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 40pt;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    align-self: center;
    margin-top: -30px;
}
.home-main section  a{
    padding: 15px 40px;
    font-size: 30px;
    border: solid 5px;
    border-radius: 10px;
    background-color: #4285f4;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-self:baseline;
}
.home-main section a:hover{
    cursor:pointer;
    background-color: #72ecce;
    transform: scale(1.1);
}

.main-blogs, .main-perfil {
    background: linear-gradient(to right, rgb(11, 11, 37) , rgb(25, 7, 68));
    margin-top: -80px;
    padding-top: 80px;
    display: grid;
}
.blogs-last-post-container, .perfil-description-container{
    background-color: var(--principal);
    padding: 0px 50px 40px;
}
.blogs-last-post{
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-last-post-img{
    grid-column: 1;
    width: auto;
}
.blogs-last-post-img img{
    width: 85%;
}
.blogs-last-post-info, .perfil-hero-info{
    grid-column: 2;
    color: black;
}
.blogs-last-post p{
    margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 50px;
}
.blogs-posts-container h3{
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    border: solid 2px white;
    background-color:#4285f4 ;
    padding:10px 15px ;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.blogs-button:hover {
	background-color: #31007d;
    cursor:pointer;
}
.post-container{
    color: white;
    display: inline-block;
    max-width: 100%;
    margin: 0 25px 50px 0px;
    padding-bottom: 50px;
}
.post-container p{
    margin-bottom: 35px;
}
.post-container img{
    width: 100%;
}
footer{
    width: 100%;
    height: 80px;
    background-color: thistle;
    border-top: 35px solid #31007d;
    text-align: center;
}
footer p{
    color: black;
    margin-top: 30px;
    font-weight: 500;
}
.blogpost-image-container img{
    width:100% ;
}
.blogpost-content-container{
    padding: 0 50px 40px;
}
.blogpost-content-container div h3{
    border-bottom: solid 1px whitesmoke;
    padding-bottom: 20px;
    color: whitesmoke;
    margin: 0;
    padding: 20px 0;
}
.blogpost-content-container div article h1{
    font-size: 30px;
    margin: 0;
    padding: 30px 0;
}
.blogpost-content-container div article{
    line-height: 1.8em;
    color: rgb(218, 218, 218);
}
.main-blogs section .blogpost-detail{
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    padding: 0 30px;
}
.main-contact-container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    background-color: whitesmoke;
    height: 200px;
    color: rgb(0, 0, 0);
}
main section .contact-images{
    width: 100px;
}
.main-contact-container .contact-left{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}
.main-contact-container .contact-right{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: auto;
}
.main-contact-container div .contact-info{
    margin-left:30px;
}
 .contact-info a{
    color: #000;
    font-weight: 700;
    border-bottom:2px solid black;
    height: 25px;
}
.contact-info p{
    margin-top: 10px;
}
/* 

.perfil-description-container{
    padding-top: 40px;
}
.perfil-hero{
    display: grid;
    grid-template-columns: 3fr 4fr;
}
.perfil-hero-img{
    grid-column: 1;
    width: auto;
}
.perfil-hero-img img{
    width: 85%;
}
.perfil-hero-info p{
    margin-bottom: 35px;
}
.perfil-projects h2{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;
}
.main-perfil .perfil-projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 980px;
    margin: 0 auto 50px;
}
 .perfil-projects-container p{
     max-width: 300px;
}
.perfil-projects-container h3{
    font-size: 17px;
}
.box1{
    grid-column: 1;
}
.perfil-project-box .box2{
    grid-column: 2;}
 .box3{
    grid-column: 3;
} */
.perfil-main-container{
    background-color: #f5f5f5;
    padding: 50px 40px;
    margin-bottom: 50px;
    color: black;
}
.perfil-main-container .perfil-container{
    display: flex;
}
.perfil-main-container img{
    width: 320px;
    margin:30px;
}
.perfil-main-projects{
    padding: 0 50px 50px;
}
.perfil-main-projects h3{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 35px;
    text-align: center;
}
.perfil-projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.project-container{
    padding: 0 10px;
    margin-bottom: 50px;

}
.grid-posts{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}