@media (max-width: 980px){
    .blogs-last-post{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-last-post-img{
        grid-row: 2;
    }
    .blogs-last-post-info{
    grid-column: 1;
    grid-row: 3;
    }
    .blogs-posts-container .grid-posts{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr;
    }
    .perfil-projects-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .perfil-main-container .perfil-container {
        display: block;
    }
}
@media (max-width: 600px){
    .blogs-posts-container .post-container{
        max-width: 90%;
    }
    .blogs-posts-container .grid-posts{
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
    }
}