@media (max-width: 900px){
    .blogs-last-post{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-last-post-img{
        grid-row: 2;
    }
    .blogs-last-post-info{
    grid-column: 1;
    grid-row: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
}
@media (max-width: 600px){
    .blogs-posts-container .post-container{
        max-width: 90%;
    }
}